.folder_page {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.folder_icon i {
    color: #ffd60a;
    font-size: 7rem;
}

.folder_icon h5 {
    text-align: center;
    font-weight: 500;
    font-size: 15px;
}

/* login page start */
.body_form {
    width: 100%;
    height: 100vh;
    background: url("../images/bg/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.form_start{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.formsiez{
    width: 100%;
   min-width: 35%;
   max-width: 500px;
   min-width: 300px;
}
.cursiorpointer, .forgetopen{
    cursor: pointer;
}

/* login page end */

/* navbar departmen */
.navbar_department{
    list-style: none;
}
.navbar_department li{
    padding: 0 .5rem;
}
.navbar_department li:first-child{
  border-right: 1px solid #333;
}
.navbar_department li a{
    color: #333;
    font-size: 15px;
}
/* navbar department end*/
.delete_icon span i{
 font-size: 1.3rem;
 cursor: pointer;
}

.myclassregister span{
    color: aqua;
}
.lable_font label{
    font-size: 14px;
}
.overflowbox{
    width: 100%;
    overflow-x: scroll;
}
 
.overflowbox::-webkit-scrollbar-x{
    height: 13px;
}
.overflowbox::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
.overflowbox::-webkit-scrollbar-thumb {
  background: gainsboro; 
  border-radius: 10px;

}
.input_border{
    border: 1px solid gainsboro !important;
}
.editForm{
    padding: 15px 30px;
    border: 1px solid gainsboro;
    border-radius: 10px;
}
.form-controlEdit{
       display: block;
    width: 100%;
    padding: 4px 8px;
    font-size: .9375rem;
    font-weight: 400;
    line-height: 1.3;
    color: #54667a;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ecf0f2;
    appearance: none;
    border-radius: 5px;
    box-shadow: unset;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;

}
.btn_submit{
    margin: 1rem 15px;
}
.userAssign{
    border: none;
    outline: none;
    padding: 0 5px;
    border: 1px solid #333;
}
.editcolor{
    color: #777e89;
}
.assign_su{
    color:#0bb2fb;
}
.assign_pe{
    color:red
}
/* .overflowbox::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
} */

.search_filter_box{
    width:100%;
    max-width: 450px;
    padding: 7px 10px; 
    border: 1px solid #333;
    border-radius: 10px;
}

.search_filter_box input{
    width: 100%;
   outline: none;
   border: none;
}
 .styledrop, .styledate{
    padding: 7px 10px;
    border-radius: 5px;
    border: 1px solid grey;
 }

.taskmanagement input, textarea, select{
         border: 1px solid gainsboro !important;
}


.diabledbox:disabled {
    background-color: rgb(245, 245, 245) !important;
    color: #a9a9a9; 
    cursor: not-allowed; 
    
}
.dropdown_menu{
    padding: 2px 10px;
    font-size: 15px;
    margin-bottom: 10px;
}
.task_d{
    padding:.5rem 0;
    font-size: 2rem;
    font-weight: bold;
}


/* profile image */

.profile-pic {
  color: transparent;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: all 0.3s ease;
}
.profile-pic input {
  display: none;
}
.profile-pic img {
  position: absolute;
  object-fit: cover;
  width: 100px;
  height: 100px;
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.35);
  border-radius: 100px;
  z-index: 0;
}
.profile-pic .-label {
  cursor: pointer;
  height: 100px;
  width: 100px;
  font-size: 10px;
  font-weight: 100;
}
/* .profile-pic:hover .-label {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10000;
  color: #fafafa;
  transition: background-color 0.2s ease-in-out;
  border-radius: 100px;
  margin-bottom: 0;
} */
.profile-pic span {
  display: inline-flex;
  padding: 0.2em;
  height: 2em;
}
 
 
 .table_formate_stayle .table>:not(caption)>*>* {
    padding: 7px 8px;
    font-size: 13px;
}

.table_formate_stayle tbody tr td{
    font-size: 12px;
}
.table_formate_stayle tr{
    border-color: #6d8fa8 !important;
}
 .table_formate_stayle thead tr{
    background: aliceblue;
 }
 .accordin_btn{
    padding: .5rem 1rem !important;
 }
 .action_icons div span i{
    font-size: 17px;
 }
 .accordion-body_padding{
    padding: .5rem .3rem .2rem .3rem;
 }


 .table_formate_stayle_font .table>:not(caption)>*>*{
     padding: 7px 8px;
    font-size: 14px;
}

.overflowbox::-webkit-scrollbar {
    width: 14px; /* Width of vertical scrollbar */
    height: 12px; /* Height of horizontal scrollbar */
}
    .ansmonthColor{
        background-color: #dee2e6 !important;
     }

    .breadcrumb{
        background-color: transparent !important;
    }

 
 
